<!DOCTYPE html>
<html lang="ja">
<head>
    <title>FlickFusion_MINO</title>
    <link rel="icon" type="image/png" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn">
    <link rel="shortcut icon" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn" type="image/png">
    <link rel="apple-touch-icon" sizes="256x256" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn">
    <link rel="apple-touch-icon" sizes="180x180" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn">
    <link rel="apple-touch-icon" sizes="32x32" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn">
    <link rel="apple-touch-icon" sizes="16x16" href="https://tse3.mm.bing.net/th?id=OIG2.ownl1PnGUyyNG6RauVkR&pid=ImgGn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    現在のapiサーバー<br>
    Youtube-API:{{Youtube_API}}<br>
    Channel-API:{{Channel_API}}<br>
    Comments-API:{{Comments_API}}<br>
    <script>setTimeout(function (){location.reload();},5000)</script>
</body>
</html>
