* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #444;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ee4b4b;
}

section {
    width: 800px;
    max-width: 90%;
    height: auto;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    color: #ee4b4b;
    margin-bottom: 20px;
    font-size: 28px;
}

.link-container, .format-container, .button-container {
    margin-bottom: 20px;
    width: 100%;
}

.link-container label, .format-container label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

.link-container input, .format-container select {
    outline: none;
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    border: 2px solid #666;
    font-size: 16px;
    transition: border-color 0.3s;
}

.link-container input:focus, .format-container select:focus {
    border-color: #ee4b4b;
}

.button-container button {
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: #fff;
    background-color: #ee4b4b;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #d43f3f;
}

.loading-message {
    display: none;
    margin: 10px 0;
    color: #007bff;
}

@media only screen and (max-width: 850px) {
    section {
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    section {
        width: 95%;
    }
}
